<div class="table-responsive">
  <table id="table" class="table table table-bordered table-striped">
    <thead id="table-head">
      <tr>
        <th colspan="11">
          <div class="title">
            <span id="currentTime">
              <h1>15:50</h1>
            </span>
            <span id="title">Расписание приема врачей</span>
            <span id="currentDate">
              <h1>18 ИЮЛЯ 2019</h1>
            </span>
          </div>
        </th>
      </tr>
      <tr class="title-days table-condensed">
        <th>Этаж</th>
        <th>Cпециальность</th>
        <th>№ каб.</th>
        <th>Ф.И.О.</th>
        <th>ПН</th>
        <th>ВТ</th>
        <th>СР</th>
        <th>ЧТ</th>
        <th>ПТ</th>
        <th>СБ</th>
        <th>ВС</th>
      </tr>
    </thead>
    <tbody id="table-body">
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <a href="data.csv" id="download" download="data.csv">Скачать</a>
  <form id="form">
    <label for="file" id="label">Загрузить</label>
    <input id="file" type="file" name="filedata" accept="text/csv" />
  </form>

</div>